include resume-mixins.pug

html
  head 
    style!= styling
    title Anthony Ou Resume
    link(rel="icon" type="image/x-icon" href="favicon.ico")
  body 
    #main
      #title
        h1 Anthony Ou
        .subtitle
          | Full-stack software developer with experience building
          br
          | multi-platform applications and web servers.
      .main-block
        h2
          i.fas.fa-suitcase
          | Work history

        +item({title: "Niphtio", url: "http://nipht.io/"}, "Full-stack Software Developer", "Edmonton, AB", '19 Apr', 'Current')
          ul
            li Backend development with [Ktor](https://ktor.io/) and [GraphQL Kotlin](https://github.com/ExpediaGroup/graphql-kotlin)
            li Setup CI/CD in Gitlab
            li Frontend development with [Next.js](https://nextjs.org/)
            li Browser extension development with Typescript
        +item({title: "Collaborative Media Group", url: "https://www.cmgcanada.ca/"}, "Full-stack Software Developer", "Edmonton, AB", '2017 Feb', '19 Apr')
          ul
            li Lead a ground up redesign of the main software product using Angular
            li Managed Kubernetes infrastructure with [kops](https://github.com/kubernetes/kops) in AWS
              ul 
                li Migrated from Heroku to fly.io
            li Developed a new back-end using Typescript, Express, GraphQL, Redis, and MongoDB
            li Deployed mobile versions of the application through Cordova
            li Setup continuous integration with BitBucket pipelines
            li Migrated internal and client CMS to [Directus](https://directus.io)
        +item({title: "Collaborative Media Group", url: "https://www.cmgcanada.ca/"}, "Mobile Developer", "Edmonton, AB", '16 Feb', '17 Feb')
          ul
            li Created a React Native app for the main client facing software product
            li Maintained and built open source plugins for React Native for both Android and iOS
            li Built new video capturing features into an iOS Swift based app
        +item({title: "Onlea", url: "https://onlea.org"}, "Software Developer Intern", "Edmonton, AB", '2015 Jan', '16 Feb')
          ul
            li Worked closely with designers to implement a redesign of the company website
            li Created reusable interactive web components in AngularJS and CoffeeScript
            li Migrated web hosting to AWS S3 and CloudFront

      //- .main-block
      //-   h2
      //-     i.fas.fa-folder-open
      //-     | Projects
      //-   +item({title: "Ln Launcher", url: "https://play.google.com/store/apps/details?id=com.contextswitch.emit.ln"})
      //-     :markdown-it
      //-       An Android launcher was first made in Scala then refactored in Kotlin

      .main-block.concise
        h2
          i.fas.fa-graduation-cap
          | Education

        +item("University of Alberta", "Bachelor of Science", 'Edmonton, AB', 2017)
          .description BSc General Computing Science-Maj - Science Internship Program, Biological Sciences-Min

    #sidebar
      #contact.side-block
        h1 Contact Info
        ul
          li
            i.fas.fa-globe
            a.link Anthony Ou
          li.linkedin
            i.fab.fa-linkedin
            a.link(target="_blank" href="https://ca.linkedin.com/in/anthony-ou") anthony-ou
          li
            i.fab.fa-github
            a.link(target="_blank" href="https://github.com/anthonyzou") anthonyzou
          //- li
          //-   i.fab.fa-stack-overflow
          //-   a(target="_blank" href="https://stackoverflow.com/users/3399430/denixtry") Stack Overflow
          li
            i.fas.fa-envelope
            a.link(href="mailto:ou.anthony@gmail.com") ou.anthony@gmail.com
          li
            i.fas.fa-phone
            a.link(href="tel:1-825-440-1774") 8254401774

      #skills.side-block
        h1 Skills
        h3 Web
        ul
          li HTML/CSS
          li
            a(href="https://nextjs.org/" target="_blank") Next.js
          li 
            a(href="https://reactjs.org/" target="_blank") React
        h3 Languages
        ul
          li Javascript - ES6
          li Typescript
          li Kotlin
          li Java
          li 
            a(href="https://www.zsh.org/" target="_blank") ZSH
          
        h3 Services
        ul
          li
            a(href="https://aws.amazon.com/" target="_blank") AWS
          li
            a(href="https://fly.io/" target="_blank") Fly.io
        h3 Technologies
        ul
          li
            a(href="https://www.docker.com/" target="_blank") Docker
          li Git
          li
            a(href="https://kubernetes.io/" target="_blank") Kubernetes
          li GraphQL
          li
            a(href="https://redis.io/" target="_blank") Redis

