include resume-mixins.pug

#main
  #title
    h1 Anthony Ou
    .subtitle
      | Senior Software Developer with experience building
      br
      | multi-platform applications and many open source contributions.
      br
      | Experienced with common software tools and practices
      br
      | such as Jira, git, and continuous integration.
  .main-block
    h2
      i.fa.fa-suitcase
      | Experiences

    +item({title: "Collaborative Media Group", url: "https://www.cmgcanada.ca/"}, "Senior Full Stack Software Developer", "Edmonton, AB", '2017', 'now')
      :markdown-it
        - Led a team of 2 software developers in a redesign of the main client facing software product
        - Made technology decision for the company
          - Leveraged services cloud services such as AWS (S3, EC2, ETC, CloudFront), NanoBox, Tokbox, and Twilio
          - Developed the server back-end using Typescript, Express, GraphQL, and MongoDB
          - Created the front end in Angular and Material2 to help reduce development time and increase front end reliability
        - Migrated an existing proprietary CMS into Directus, a headless CMS
        - Used Cordova to create a mobile app version of the product
          - Contributed to open source Cordova plugin projects in objective c
        - Refactored codebase and reudced operating costs by a factor of 4
        - Reduced server costs again by a factor of 2 by migrating from Heroku to Nanobox
        - Transitioned into a remote work position July, 2018
    +item({title: "Collaborative Media Group", url: "https://www.cmgcanada.ca/"}, "Software Developer", "Edmonton, AB", '2016', '2017')
      :markdown-it
        - Created a React Native app for the main client facing software product
          - Maintained and built open source plugins for React Native for both Android and iOS
        - Built new video capturing features into an iOS Swift based app
        - Met with clients from ATB, AHS, CMA, and CHL to discuss new and upcoming features to the web and mobile platform
    +item({title: "Onlea", url: "https://onlea.org"}, "Software Developer Intern", "Edmonton, AB", '2015', '2016')
      :markdown-it
        - Worked closely with designers to implement a redesign of the company website
        - Created reusable interactive web components in AngularJS and CoffeScript
        - Proposed, designed, and built a video transcoding pipeline with S3 integration using Amazon Web Services
        - Migrated hosting into AWS S3 and CloudFront

  .main-block
    h2
      i.fa.fa-folder-open
      | Selected Projects
    +item({title: "Ln Launcher", url: "https://play.google.com/store/apps/details?id=com.contextswitch.emit.ln"})
      :markdown-it
        An Android launcher first made in Scala then refactored in Kotlin
    +item({title: "react-native-image-zoom", url: "https://github.com/Anthonyzou/react-native-image-zoom"})
      :markdown-it
        A open source react native pinch and zoom library for iOS and Android

  .main-block.concise
    h2
      i.fa.fa-graduation-cap
      | Education

    +item("University of Alberta", "Bachelor of Science", 'Edmonton, AB', '2011', '2017')
      .description BSc General Computing Science-Maj - Science Internship Program, Biological Sciences-Min

#sidebar
  #contact.side-block
    h1 Contact Info
    ul
      li
        i.fa.fa-globe
        | &nbsp; anthony.ou
      li
        i.fa.fa-linkedin
        | &nbsp; 
        a(target="_blank" href="https://ca.linkedin.com/in/anthony-ou") Linkedin
      li
        i.fa.fa-github
        | &nbsp; 
        a(target="_blank" href="https://github.com/anthonyzou") Github
      li
        i.fa.fa-stack-overflow
        | &nbsp; 
        a(target="_blank" href="https://stackoverflow.com/users/3399430/denixtry") Stack Overflow
      li
        i.fa.fa-envelope
        | &nbsp; 
        a(href="mailto:ou.anthony@gmail.com") ou.anthony@gmail.com
      li
        i.fa.fa-phone
        | &nbsp; 
        a(href="tel:1-780-667-4266") 780.667.4266

  #skills.side-block
    h1 Skills
    h3 Web Development
    ul
      li HTML/CSS
      li
        a(href="https://angular.io/" target="_blank") Angular
      li React
    h3 Languages
    ul
      li Javascript - ES6
      li Typescript
      li Java
      li Kotlin
      li Swift
      li Bash
    h3 Services
    ul
      li AWS
      li Twilio
      li TokBox
      li Nanobox
    h3 Technologies
    ul
      li Docker
      li Git
      li MongoDB
      li GraphQL
      li Redis
      li 
        a(href="https://getdirectus.com/" target="_blank") Directus

  //- This points to mnjul's original resume project
  //- #disclaimer.side-block.
  //-     This résumé was wholly typeset with HTML/CSS — see code git.io/vVSYL

style
  include resume.scss
