@import 'https://cdn.rawgit.com/mnjul/html-resume/master/style.css';
@import 'https://use.fontawesome.com/releases/v5.2.0/css/all.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro|Source+Sans+Pro';
.blocks {
  height: fit-content;
}
.decorator::after {
  margin-left: 1px;
}
a {
  color: initial;
  text-decoration: none;
}
.subtitle {
  text-transform: initial;
}
.details .location::before {
  display: none;
}
.fa-map-marker-alt {
  margin-right: 3px;
}
.link {
  margin-left: 4px;
}
.details {
  font-size: 11px;
}
.linkedin{
  font-size: 9px;
}